# Required: GitHub Personal Access Token (needed for build-time API calls to fetch user data)
GH_TOKEN=

# Optional: Vercel token to display deployment information
VC_TOKEN=

# Optional: Change to false after updating data.json
IS_TEMPLATE=true