# Required: GitHub Personal Access Token for the primary account
GH_TOKEN=

# Required: GitHub Personal Access Token for the secondary account
SECONDARY_GH_TOKEN=

# Optional: Vercel token to display deployment information
VC_TOKEN=

# Optional: Resend API key to send contact form emails
RESEND_API_KEY=

# Optional: Turnstile keys for spam protection on the contact form
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Email Address for contact form submissions
EMAIL_ADDRESS=

# Optional: Change to false after updating data.json
IS_TEMPLATE=true